Dataset
build
results
test
.vscode
__pycache__
utils/__pycache__
model/__pycache__
pickle_deep.py 
plot_delta.py 
plot_excel_clean.py 
combine_lambda.py 
plot_excel_scatter.py 
plot_excel.py
plot_fair.py 
plot_lambda.py 
sctter_plot.py 
run_noise.py
run_time_series.py
run_deep.py
run_fair_subset.py
run_facloc.py
wilcoxon_test.py
Subset_Noise.py
model_old
pickle_deep_or_noise.py
utils/custom_dataset_full.py
fairness.py
*.ipynb_checkpoints